.ankr-frame {
  --font-fallback: 'Segoe UI', '-apple-system', 'Roboto', 'Helvetica', 'Arial',
    sans-serif;

  padding: 20px 0 0;
  font-family: var(--font-fallback);

  &__title {
    font-size: 24px;
    font-weight: 600;
    padding: 0 20px;
    margin-bottom: 25px;
    color: var(--ankr-color-primary, #000);
  }

  &__iframe {
    display: block;
    width: 100%;
    border: none;
    height: 80vh;
    border-radius: 0 0 22px 22px;

    animation: ankr-frame-appearence 0.2s forwards;
    opacity: 0;

    /* to improve the loading state */
    animation-delay: 0.8s;
  }
}

@keyframes ankr-frame-appearence {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
